/* NAV */

@media screen and (min-width: 1100px) {
    #okw {
        display: none;
    }

    #mobilecontact {
        display: none;
    }
}

nav {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}

nav .links {
    margin-right: 40px;
}

nav a {
    background: none;
    font-family: Roboto;
}

nav a:hover {
    color: rgb(255, 162, 146);
    background: none;
}

nav a: {
    color: rgb(255, 162, 146);
    background: none;
}

nav .name  a {
    float: left;
    font-family: Fraunces;
}

#contact {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 40px;
}

.content {
    display: none;
    min-width: 200px;
    z-index: 1;
    background: #fff;
    float: right;
    margin: 0 20px 0 0;
    position: absolute;
}

.content p {
    color:rgb(18, 61, 113);
    padding: 0px 5px;
    margin: 5px 20px;
    font-size: 15px;
    text-align: left;
    font-family: Fraunces;
}

.content a {
    color: rgb(255, 162, 146);
    padding: 0 0;
    margin: 0 0;
    font-size: 15px;
    text-align: left;
    font-family: Fraunces;
}

.content a:hover {
    color: rgb(18, 61, 113);
}

.dropdown:hover .content {
    display: block;
}


/* MOBILE NAV */

@media screen and (max-width: 799px) {
    .dropdown {
        display: none;
    }

    #olivia {
        display: none;
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    nav .links {
        margin-right: 10px;
    }
    
    nav a {
        background: none;
        font-family: Roboto;
        font-size: 15px;
        margin: 10px 10px;
        padding: 0 0;
    }
    
    nav a:hover {
        color: rgb(255, 162, 146);
        background: none;
    }
    
    
    nav .name  a {
        float: left;
        font-family: Fraunces;
        margin-left: 15px;
    }
    
    #contact {
        margin-bottom: 0px;
        padding-bottom: 5px;
    }

}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    #mobilecontact {
        display: none;
    }
    
    #okw {
        display: none;
    }

    nav {
        display: flex;
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
    }
    
    nav .links {
        margin-right: 30px;
    }
    
    nav a {
        background: none;
        font-family: Roboto;
        font-size: 15px;
    }
    
    nav a:hover {
        color: rgb(255, 162, 146);
        background: none;
    }
    
    
    nav .name  a {
        float: left;
        font-family: Fraunces;
    }
    
    #contact {
        margin-bottom: 0px;
        padding-bottom: 5px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 40px;
    }
    
    .content {
        display: none;
        min-width: 200px;
        z-index: 1;
        background: #fff;
        float: right;
        margin: 0 20px 0 0;
        position: absolute;
    }
    
    .content p {
        color:rgb(18, 61, 113);
        padding: 0px 5px;
        margin: 5px 20px;
        font-size: 11px;
        text-align: left;
        font-family: Fraunces;
    }
    
    .content a {
        color: rgb(255, 162, 146);
        padding: 0 0;
        margin: 0 0;
        font-size: 11px;
        text-align: left;
        font-family: Fraunces;
    }
    
    .content a:hover {
        color: rgb(18, 61, 113);
    }
    
    .dropdown:hover .content {
        display: block;
    }

    nav a {
        margin-right: 5px;
        margin-left: 5px;
    }
}


/* HEADER */
html, body {
    margin: 0 0;
    padding: 0 0;
    font-family: Roboto;
    font-size: 20px;
    background: #fff;
}

@media screen and (min-width: 1100px) and (max-width: 1299px) {
    .container {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 100px;
    }

    .container img{
        width: 80%;
        height: auto;
        border-radius: 20px;
        border: 4px solid rgb(18, 61, 113);
    }

    .container .header {
        margin: 0 30px;
        width: 60%;
    }

    #meimg {
        width: 40%;
    }

    h5 {
        font-family: Roboto;
        font-size: 20px;
        margin: 5px 0;
        margin-left: 30px;
    }

    h5 span {
        font-family: "Fraunces";
        font-size: 45px;
        margin-left: 5px;
        color:rgb(18, 61, 113);
    }

    .bio {
        font-size: 20px;
        margin-left: 130px;
        font-family: Roboto;
        min-width: 300px;
        max-width: 700px;
    }  

    p {
        line-height: 2;
    }

    #commongood {
        color:rgb(255, 162, 146);
        font-family: Fraunces;
        text-decoration: none;
        background: none;
        margin: 0 0;
        padding: 0 0;
    }

    #commongood:hover {
        color:rgb(18, 61, 113);
    } 
}


@media screen and (min-width: 1300px) {
    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 50px;
    }

.container img{
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-right: 50px;
    border: 4px solid rgb(18, 61, 113);
}

.container .header {
    margin: 0 30px;
}

h5 {
    font-family: Roboto;
    font-size: 20px;
    margin: 5px 0;
    margin-left: 30px;
}

h5 span {
    font-family: "Fraunces";
    font-size: 45px;
    margin-left: 5px;
    color:rgb(18, 61, 113);
}

.bio {
    font-size: 20px;
    margin-left: 130px;
    font-family: Roboto;
    min-width: 600px;
    max-width: 700px;
}


p {
    line-height: 2;
}

#commongood {
    color:rgb(255, 162, 146);
    font-family: Fraunces;
    text-decoration: none;
    background: none;
    margin: 0 0;
    padding: 0 0;
}

#commongood:hover {
    color:rgb(18, 61, 113);
}
}

/* EDUCATION */

.experience {
    margin-left: 150px;
    margin-top: 50px;
}

.title {
    font-weight: bolder;
    font-size: 25px;
    margin: 10px 0;
    border-bottom: 2px solid rgb(255, 162, 146);
    width: 400px;
    font-family: Fraunces;
    color:rgb(18, 61, 113);
}

.subtitle {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.description {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
    max-width: 750px;
}

/* COMPUTER */

a {
    color:rgb(18, 61, 113);
    background:rgb(255, 162, 146);
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0 10px 40px;
    font-family: Fraunces;
    border-radius: 5px;
}

a:hover {
    color:rgb(255, 162, 146);
    background:rgb(18, 61, 113);
}

.computer .description {
    max-width: 700px;
    margin-bottom: 30px;
}

.websites {
    display: flex;
    margin-top: 20px;
}

.websites embed {
    margin: 15px 15px;
    position: relative; 
}

.desktop {
    min-width: 800px;
    border: 4px solid rgb(18, 61, 113);
    border-radius: 10px;
}

.mobile {
    border: 4px solid rgb(18, 61, 113);
    min-width: 300px;
    border-radius: 10px;
}

.websites img {
    position: absolute;
    z-index: 5;
    width: 870px;
    margin-left: 0;
    overflow: scroll;
}


/* CFA */

.pdf {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(255, 162, 146);
    width: 1000px;
    margin-left: 25px;
}

.pdf img {
    height: 200px;;
    margin: 8px 15px;
    border: 2px solid rgb(18, 61, 113);
    border-radius: 10px;
}

.pdf img:hover {
    transform: scale(3);
    transition-delay: 200ms;
    transition-timing-function: ease-out;
    transition-duration: 800ms;
}

/* NEWSPAPER */

.newspaper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-left: 25px;
}

#hover {
    font-family: Fraunces;
    color:rgb(255, 162, 146);
    opacity: 50%;
}

.newspaper img {
    height: 200px;
    margin: 8px 15px;
    border: 2px solid rgb(18, 61, 113);
    border-radius: 10px;
}

.newspaper img:hover {
    transform: scale(3);
    transition-delay: 200ms;
    transition-timing-function: ease-out;
    transition-duration: 800ms;
}

/* ABOUT */

.about {
    display: flex;
    margin-bottom: 30px;
}

.about .description {
    max-width: 500px;
}

/* ABOUT ME */

.aboutme {
    margin-left: 40px;
    margin-right: 40px;
}

.about-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.about-container img {
    width: 400px;
    margin: 30px 40px 0 40px;
    border: 4px solid rgb(18, 61, 113);
    border-radius: 20px;
}